/* add custom CSS here */

.list-item {
  padding: 15px 15px 0;
  align-self: flex-start;
}

.item-header-end {
  min-height: 47px;
  align-content: center;
  display: flex;
}

.novo-list-item {
  padding: 0;
}

.chip {
  display: inline-block;
}

app-info-chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  div.job-card .novo-list-item {
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .list-item {
    padding-bottom: 5px;
  }
  app-info-chips {
    justify-content: flex-start;
  }
}
